@mixin section-title {
	display: flex;
	justify-content: center;
	align-items: center;

	&-img {
		overflow: hidden;
		border-radius: 50%;
		margin-right: 25px;
		flex-shrink: 0;
	}

	&-titles {
		color: darken($middle-grey, 10%);
	}

	&-title {
		font-size: 44px;
		color: inherit;
		font-weight: bold;
	}

	&-subtitle {
		font-size: 17px;
		color: inherit;
		font-weight: 300;
	}
}